{% extends 'base.html' %}

{% block contenido %}

<section>
    <div class="container" name= "POSTEOS DEL INDEX">
        <div class="row justify-content-center">
            <div class="col-md-9 " name="COLUMNA DE 3 POSTEOS, UNO GRANDE, DOS CHICOS" >
                {% if post.imagen.url != NULL %}
                <figure>
                <img class="imgPosteoPrincipal" src="{{post.imagen.url}}">
            </figure>
            {% endif %}
            <div>
                <h1>{{ post.titulo }}</h1>
                <p>{{ post.fecha }}</p>
                <p>{{post.descripcion}}</p>
            </div>
            {% if post.video != NULL %}
            <iframe width="560" height="315" class="center" src="{{post.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            {% endif %}
            <b>{{post.nombre}}</b><br>
            <div class="text-center justify-content-start">
                <a href="{% url 'posts:mostrar_comentario' post.pk %}"><button>Comentarios</button> </a>
                <a href="{% url 'posts:alta_comentario' post.pk %}"><button>Comentar</button> </a>
            </div>
        </div>
    </div>
</section>

{% endblock contenido %}

<p>Birthday: {{ birthday|date:"M d, Y" }}</p>