.inicio{
    color: red;
}

.menu{
    font-size: 2em;
    text-align: center;
    margin-bottom: 100px;
}
.titulo{
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}