{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="{% static 'css/main.css' %}">
    
    <title></title>
</head>
<body>

    <div class="menu">

        <p>ACA VA A IR EL MENU</p>

        <br>
        {% if user.is_authenticated %}

            <span>WELCOME {{ user.username }}</span>
            <a href="{% url 'logout' %}">CERRAR SESION </a>
        {% else %}
            <a href="{% url 'login' %}">LOGIN</a>
            <a href="">REGISTRO</a>
        {% endif %}
            
    </div>

    
    {% block contenido %}

    {% endblock contenido %}
</body>
</html>