{% extends 'base.html' %}

{% block contenido %}

    <h1 class="texto-cont">SOY EL MOSTRAR POSTS</h1>
    <br>
    <br>
    <a href=" {% url 'index' %}">IR A INICIO</a>

    {% for a in post %}
        
        <br>
        <br>
        <br>
        <p class="titulo">
            <a href="{% url 'posts:detalle' a.pk %}" class="tituloCategorias"> {{a.titulo}}</a>
            <br>
            <span>DESCRIPCION: {{a.descripcion}}</span><br>
            <span>CATEGORIA: {{a.categoria}}</span><br> 
            <span>{{a.fecha}}</span><br>
            <span>{{a.usuario}}</span><br>
            {% if a.imagen.url != NULL %}
            <img src="{{a.imagen.url}}"width="300px" height="200px"><br>
            {% endif %}

            {% if a.video != NULL %}
            <iframe width="560" height="315" class="center" src="{{a.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            {% endif %}

        </p>
        <br>
        <br>
        <br>
    {% endfor %}

        

{% endblock contenido %}

