{% extends 'base.html' %}
{% load static %}
{% block contenido %}


<section>
    <div class="row justify-content-center">
        <div>
            <h1 class="tituloCategorias">Sobre nosotros</h1>
        </div>
</section>
<section class="sectionCards">
    <div class="containerCards">
        <div class="cards">
            <div class="cardCuerpo">
                <div class="cardEncabezado">
                    <img src="" alt="">
                    <h5 name="Nombre Completo">Torres Luis Alejandro</h5>
                </div> 
                <div class="cardContenido" name="Descripcion">
                    <div class="infoPersonal desplazar">Resistencia, Chaco </div>
                    <div class="infoPersonal desplazar">27 Años.</div>
                    <div class="infoPersonal desplazar">
                        <p> Estudiante, apasionado por la programación. Buscando ser desarrollador de Software Full Stack.</p>
                    </div>
                </div>  
            </div>
        </div>
        <div class="cards">
            <div class="cardCuerpo">
                <div class="cardEncabezado">
                    <img src="{% static 'img/LautaroG.jpg' %}" alt="">
                    <h5 name="Nombre Completo">Lautaro Gomez Macias</h5>
                </div> 
                <div class="cardContenido" name="Descripcion">
                    <div class="infoPersonal desplazar">Resistencia, Chaco </div>
                    <div class="infoPersonal desplazar">23 Años.</div>
                    <div class="infoPersonal desplazar">
                        <p> Estudiante de programacion, entusiasmado en aprender nuevos lenguajes y lograr ampliar mis conocimientos.</p>
                    </div>
                </div>  
            </div>
        </div>
        <div class="cards">
            <div class="cardCuerpo">
                <div class="cardEncabezado">
                    <img src="{% static 'img/maca.jpg' %}" alt="">
                    <h5 name="Nombre Completo">Aguirre Macarena Anahí</h5>
                </div> 
                <div class="cardContenido" name="Descripcion">
                    <div class="infoPersonal desplazar">Resistencia, Chaco </div>
                    <div class="infoPersonal desplazar">26 Años.</div>
                    <div class="infoPersonal desplazar">
                        <p> Diseñadora gráfica, apasionada por UX/UI y por el desarrollo frontend. Constante busco en especializarme y seguir expandiendo conocimientos.</p>
                    </div>
                </div>  
            </div>
        </div>
        <div class="cards">
            <div class="cardCuerpo">
                <div class="cardEncabezado">
                    <img src="" alt="">
                    <h5 name="Nombre Completo">Nombre completo</h5>
                </div> 
                <div class="cardContenido" name="Descripcion">
                    <div class="infoPersonal desplazar">Resistencia, Chaco </div>
                    <div class="infoPersonal desplazar"> Años.</div>
                    <div class="infoPersonal desplazar">
                        <p> Descripción</p>
                    </div>
                </div>  
            </div>
        </div>
        <div class="cards">
            <div class="cardCuerpo">
                <div class="cardEncabezado">
                    <img src="" alt="">
                    <h5 name="Nombre Completo">Nombre completo</h5>
                </div> 
                <div class="cardContenido" name="Descripcion">
                    <div class="infoPersonal desplazar">Resistencia, Chaco </div>
                    <div class="infoPersonal desplazar"> Años.</div>
                    <div class="infoPersonal desplazar">
                        <p> Descripción</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>


{% endblock contenido %}